@font-face {
	src: url('../fonts/Inter-Medium.ttf') format('truetype');
	font-family: 'Inter';
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Inter-SemiBold.ttf') format('truetype');
	font-family: 'Inter';
	font-weight: 600;
	font-style: normal;
}

body {
	margin: 0 auto;
}


.wrapper {
	font-family: 'Inter';
	max-width: 100%;
    display: flex;
	padding: 50px;
	color: white;
	background-color: black;
	height: 90vh;
	
}

.list {
width: 33%;

}

.list:not(:last-child) {
padding-right: 30px;
}

.name {
	font-size: 75px;
}

.list__item--header {
	font-size: 30px;
	font-weight: 600;
	line-height: 25px;
	opacity: 90%;
}

.list__item--text {
	font-size: 15px;
	font-weight: 500;
	line-height: 25px;
	opacity: 80%;
}

.scale {
color: blue;
}
.list__photo {
	background-image: url(../images/woman.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 7px;
}


@media screen and (max-width: 920px) {
	.wrapper {
		flex-direction: column;
		width: 620px;
	}
}