@font-face {
	src: url('../fonts/Inter-Medium.ttf') format('truetype');
	font-family: 'Lato';
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Inter-SemiBold.ttf') format('truetype');
	font-family: 'Lato';
	font-weight: 600;
	font-style: normal;
}

body {
	margin: 0 auto;
}


.wrapper {
	font-family: 'Inter';
	max-width: 100%;
display: flex;
	
	color: white;
	background-color: black;
	
}

.list {
width: 33%;
padding-left: 25px;
padding-right: 25ps;
}



@media screen and (max-width: 920px) {
	.wrapper {
		flex-direction: column;
		width: 620px;
	}
}